html {
    background-color: lightgrey;
    box-sizing: border-box;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

body,ul {
    text-align: center;
    font-size: 25px;
    border: 10px solid royalblue;
    border-radius: 25px;
    width: 1000px;
    margin: 0 auto;
}
ul {
    width: 500px;
    text-align: left;
    background: lightsalmon;
}
